.item-big-view {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.item-big-view .icon {
  min-width: 5.5rem;
  min-height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.item-big-view .icon-bg {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
}

.item-big-view .icon:hover {
  filter: brightness(1.2);
}

.item-big-view .icon img {
  height: 64px;
  width: 64px;
}

.item-big-view .icon .icon-content {
  z-index: 1;
}

.item-big-view .label {
  width: 9rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99633F;
  border-radius: 100px;
}

.item-big-view .label div {
  font-size: 1rem;
}
